/* getting started with design */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web:wght@600&display=swap');

:root{
    --primary-color1 : #40E0D0;
    --primary-color2 :#FF8C00;
    --primary-color3 : #FF0080;
    --main-gradient  : linear-gradient(90deg, var(--primary-color1), var(--primary-color2),var(--primary-color3));

}

/* designing */


*{
/* resetting all elements before designing */    
    margin: 0;
}
body{
    font-family: Titillium Web, "Open Sans";
    /* background-image: var(--main-gradient) */
    margin:0px;
    margin-top: 0px;
}

.navbar{
    background: grey;
    margin-top: 0px;
    padding:0px;
}

.un-list{
    text-align:center;

}

.main-logo{
    display:inline;
    /* color:yellow; */
    position: relative;
    right: 100px;
    
    }


.nav-list{
    list-style: none;
    display:inline;
    margin :  1rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

/* main image */

.main-image{
        max-width: 100%;
        width: 100%;
        height: auto;

}